[ xroad_sign ]
basicConstraints = CA:FALSE
keyUsage = critical, nonRepudiation
extendedKeyUsage = emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
crlDistributionPoints = URI:https://crl.gerege.mn/issuing-ca.crl
authorityInfoAccess = OCSP;URI:https://ocsp.gerege.mn/ocsp

[ xroad_auth ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
crlDistributionPoints = URI:https://crl.gerege.mn/issuing-ca.crl
authorityInfoAccess = OCSP;URI:https://ocsp.gerege.mn/ocsp

[ xroad_tsa ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, timeStamping
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
crlDistributionPoints = URI:https://crl.gerege.mn/issuing-ca.crl
authorityInfoAccess = OCSP;URI:https://ocsp.gerege.mn/ocsp

[ tsa_issuing_ca ]
basicConstraints = critical, CA:TRUE, pathlen:0
keyUsage = critical, keyCertSign, cRLSign
extendedKeyUsage = critical, timeStamping
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
